html, body {
  height: 100%;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 400;
}

header {
  display: block;
  background-color: #282828;
  height: 4rem;
  z-index: 999;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
}

ul > li {
  display: inline-block;
  list-style: none;
  float: left;
  margin-right: 0.5rem;
}

.App-link {
  z-index: 1000;
  display: inline-block;
  color: white;
}

.shrink {
  width: 25%;
  transform: all ease-in 1s;
}

.stretch {
  width: 120%;
  transform: all ease-in 1s;
}

button {
  border-radius: 0.25rem;
  height: 2rem;
}
