.container-buy {
  display: inline-block;
  position: relative;
  color: black;
  opacity: 0.8;
  background-color: white;
  padding: 2rem;
  top: 10rem;
  left: 20%;
  height: 25rem;
  transition: ease-in all 1s;
  overflow: hidden;
  z-index: 998;
  width: 50rem;

}
